<% form_tag users_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if user_signed_in? %>
	<% if @following_pets.length > 0 %>
		<div id="wrapper">
			<!-- 	
				<h1>Following</h1>
			 -->
			<div id="columns">
				<% @following_pets.length.times do |x| %>
					<div class="pin">
						<%= link_to "", unfollow_pet_path(@following_pets[x].id), class:"fa fa-heart followed", :method => :delete %>
						<%= image_tag @following_photos[x].avatar_url(:thumb).to_s %><br>
						<%= link_to @following_pets[x].name, pet_path(@following_pets[x].id) %>
						<p><%="#{@following_pets[x].gender} #{@following_pets[x].breed}"%></p>
						<p><%=@following_pets[x].bio%></p>
					</div>
				<%end%>
			</div>
		</div>
	<% end %>
<% end %>

<div id="wrapper">
<!-- 
	<h1>Cool Pets</h1>
<<<<<<< HEAD
	<% @testElement %>
=======
 -->
>>>>>>> 82d6223d95a7a57a91f32ccaa2b19fdbcf1e322d
	<div id="columns">	
		<% (@pet_array.length).times do |x| %>
			<div class="pin">
				<%= link_to "", follow_pet_path(@pet_array[x].id), class:"fa fa-heart-o follow", :method => :post %>
				<%= image_tag @photo_array[x].avatar_url(:thumb).to_s %><br>
				<%= link_to @pet_array[x].name, pet_path(@pet_array[x].id) %>
				<p><%="#{@pet_array[x].gender} #{@pet_array[x].breed}"%></p>
				<p><%=@pet_array[x].bio%></p>
			</div>
		<% end %>		
	</div>
</div>