<%= form_for(@album, url: create_album_path) do |f| %>

  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Title" %><br>
    <%= f.text_field :title, autofocus: true, autocomplete: "off" %>
  </div>
  <div class="field">
    <%= f.label "Description" %><br>
    <%= f.text_field :description, autocomplete: "off" %>
  </div>

  <!-- hidden field to add relationship between album and pet -->
  <div class="field">
    <%= f.hidden_field :pet_id, :value => @pet_id %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>

<% end %>