<div class="container-fluid box">
	<header>
		<p class="larger"><%= @photo.description %></p>
	</header>
	<div class="pet last">
		<% if @pet[0].user_id == current_user.id %>
			<%= link_to "Edit", edit_photo_path(@pet_id, @album_id, @photo.id) %> &nbsp;&nbsp;
			<%= link_to "Delete", photo_path(@pet_id, @album_id, @photo.id), :method => :delete %><br>
		<% end %>
		<%= link_to "Back to Album", album_path(@pet_id, @photo.album_id) %><br>
		<%= image_tag @photo.avatar_url.to_s %>
	</div>
</div>
